{% extends "base2.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register Yourself</h2>
<form method="POST" action="{% url 'registeration:signup' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="errorlist">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <label for="{{ form.username.id_for_label }}">Username</label>
    {{ form.username }}

    <label for="{{ form.first_name.id_for_label }}">First Name</label>
    {{ form.first_name }}

    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
    {{ form.last_name }}

    <label for="{{ form.email.id_for_label }}">Email Address</label>
    {{ form.email }}

    <label for="{{ form.password1.id_for_label }}">Password</label>
    {{ form.password1 }}

    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
    {{ form.password2 }}

    <button type="submit">Register</button>
    <a href="{% url 'authentication:login' %}">Already have an account? Log in</a>
</form>
{% endblock %}
